# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# PyTorch
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
venv/
.venv/
.git_old/
